@model SinpeEmpresarial.Application.DTOs.Usuario.CreateUsuarioDto

@{
    ViewBag.Title = "Registrar Usuario";
}

<h2>Registrar Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.IdComercio)
            @Html.DropDownListFor(m => m.IdComercio, (SelectList)ViewBag.Comercios, "-- Seleccione un comercio --", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Nombres)
            @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PrimerApellido)
            @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SegundoApellido)
            @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Identificacion)
            @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CorreoElectronico)
            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
