@model SinpeEmpresarial.Application.DTOs.Usuario.EditUsuarioDto

@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.IdUsuario)

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.Nombres)
            @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PrimerApellido)
            @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SegundoApellido)
            @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Identificacion)
            @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CorreoElectronico)
            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Estado)
            @Html.CheckBoxFor(m => m.Estado)
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
